#include "corne.dtsi"

/* TẠO NODE LED MỚI */
/ {
    under: led_strip {
        compatible = "zmk,ws2812-strip";
        label = "LED_STRIP";
        /* Chân P1.05 (Pin 020 trên Pro Micro) cho Nice!Nano */
        gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>; 
        chain-length = <27>;
        color-order = <GRB>;
        status = "okay";
    };
};

&kscan0 {
    col-gpios =
        <&pro_micro 21 GPIO_ACTIVE_HIGH>,
        <&pro_micro 20 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>;
};

/ {
    chosen {
        zmk,studio-rpc-uart = &uart0;
    };
};

/ {
    ext_power {
        status = "disabled";
    };
};