#include "corne.dtsi"

/ {
    led_strip: led_strip {
        compatible = "zmk,ws2812-strip";
        label = "LED_STRIP";
        gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>;
        chain-length = <27>;
        color-order = <GRB>;
        status = "okay";
    };
    
    /* QUAN TRỌNG: Báo cho firmware biết đây là bên phải (cột bắt đầu từ 6) */
    default_transform: keymap_transform_0 {
        col-offset = <6>;
    };
};

&kscan0 {
    /* Với mạch Corne đảo chiều, thứ tự chân bên phải giống bên trái
       nhưng cần col-offset ở trên để map đúng phím */
    col-gpios =
        <&pro_micro 21 GPIO_ACTIVE_HIGH>,
        <&pro_micro 20 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>;
};

&pro_micro_i2c {
    status = "okay";
};

/ {
    ext_power {
        status = "okay";
    };
};