#include "corne.dtsi"

&kscan0 {
    col-gpios =
        <&pro_micro 21 GPIO_ACTIVE_HIGH>,
        <&pro_micro 20 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>;
};

&under {
    compatible = "zmk,ws2812-strip";
    label = "LED_STRIP";
    // SỬA: Chân D1 của Nice!Nano v2 là P0.06
    gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
    
    // SỬA: Mỗi bên có 27 LED thực tế
    chain-length = <27>;
    
    color-order = <GRB>;
    status = "okay";
};

// SỬA: Bật nguồn ngoài
&ext_power {
    status = "okay";
};