#include "corne.dtsi"

&kscan0 {
    col-gpios =
        <&pro_micro 21 GPIO_ACTIVE_HIGH>,
        <&pro_micro 20 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>;
};

&spi1 {
    status = "okay";
    sck-pin = <(-1)>;
    miso-pin = <(-1)>;
    mosi-pin = <6>;

    ws2812: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        label = "WS2812_STRIP";
        spi-max-frequency = <4000000>;
        chain-length = <54>;
        split-index = <27>;
        color-order = <GRB>;
        status = "okay";
    };
};

&gpio1 {
    status = "okay";
};

&{
    aliases {
        led-strip = &ws2812;
    };

    chosen {
        zmk,studio-rpc-uart = &uart0;
    };

    ext_power {
        status = "disabled";
    };
};
